.item {
    padding: 20px 0;
    max-width: 30%;
}

.subItem {
    display: inline-block;
}

.list {
    height: 60vh;
    overflow-y: scroll;
}

.wrapper {
    padding: 2rem;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
  }
  